 {% extends 'templates/nhs_transaction_layout.html' %}
{% import 'includes/form_macros.html' as form_macros %}

{% block afterHeader %}
  {% include "includes/service-headers/low-income.html" %}
{% endblock %}

{% block content %}

<main id="content" role="main">
    
  <div class="grid-row">
    <div class="column-two-thirds">

  <div class="text">

    <h1 class="heading-large">
      Check your details
    </h1>

    <table class="data-table assets-summary">
      <tr>
        <td>Do you or your partner have any savings or other money<br>in this country or abroad?</td>
        <td>Yes</td>
        <td><a href="registration">Change this</a></td>
      </tr>
      <tr>
        <td>Bank or building society accounts</td>
        <td>No</td>
        <td><a href="#">Change this</a></td>
      </tr>
      <tr>
        <td>Premium bonds</td>
        <td>No</td>
        <td><a href="#">Change this</a></td>
      </tr>
      <tr>
        <td>Capital bonds</td>
        <td>No</td>
        <td><a href="#">Change this</a></td>
      </tr>
      <tr>
        <td>Shares</td>
        <td>No</td>
        <td><a href="#">Change this</a></td>
      </tr>
      <tr>
        <td>National Saving Certificates</td>
        <td>No</td>
        <td><a href="#">Change this</a></td>
      </tr>
      <tr>
        <td>Personal Equity Plans (PEPs), Individual Saving Accounts<br>(ISAs) or any other investments</td>
        <td>No</td>
        <td><a href="#">Change this</a></td>
      </tr>
      <tr>
        <td>Other money</td>
        <td>Yes</td>
        <td><a href="registration">Change this</a></td>
      </tr>
      <tr>
        <td>Total other money</td>
        <td>£300</td>
        <td><a href="registration">Change this</a></td>
      </tr>
    </table>
    
    <p>
      <a class="button" href="../lis-home">Save - continue to my low income scheme home</a>
    </p>

  </div>
  </div>
  </div>
  
</main>

{% endblock %}
