{% extends 'templates/nhs_transaction_layout.html' %}
{% import 'includes/form_macros.html' as form_macros %}

{% block afterHeader %}
  {% include "includes/service-headers/low-income.html" %}
{% endblock %}

{% block content %}

<main id="content" role="main">
  
  <div class="grid-row">
    <div class="column-two-thirds">

  <h1 class="heading-large">
    Do you have a partner?
  </h1>
  
  <p class="form-hint">We use the term partner to mean a person you live with as part of a couple of the same or opposite sex, whether or not you are married or in a civil partnership.</p>

  <form action="partner-handler" method="get" class="form">
      <div class="form-item-wrapper">
        <fieldset>
          <div class="inline-form-groups">
            <div class="form-group">
              <input type="radio" id="yes" name="partner" value="yes">
              <label class="form-control-radio" for="yes">
                Yes
              </label>
            </div>
            <div class="form-group">
              <input type="radio" id="no" name="partner" value="no">
              <label class="form-control-radio" for="no">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>
    
    {{
      form_macros.button({
        label: 'Save and continue'
      })
    }}
    <p class="navigation"><a class="cancel" href="../lis-home">Save and come back later</a></p>
  </form>
    </div>
    </div>
</main>

{% endblock %}