{% extends 'templates/nhs_transaction_layout.html' %}

{% block content %}

<main id="content" role="main">
    
  <div class="grid-row">
    
    <div class="column-two-thirds">

      <div class="text">
        
        <div class="heading-group">
          <h1 class="heading-xlarge">Apply for help with health costs</h1>
          <h2 class="heading-large">The Low Income Scheme</h2>
        </div>
        
        <p class="intro-to-list">
          If you find it difficult to pay for health costs you may be entitled to some help towards the cost of:
        </p>
        
        <ul class="list list-bullet">
          <li>NHS Prescriptions;</li>
          <li>NHS Dental treatment;</li>
          <li>NHS wigs and fabric supports;</li>
          <li>sight tests, glasses and contact lenses;</li>
          <li>travel to receive NHS treatment if referred by a doctor (GP or hospital doctor), dentist or optician</li>
        </ul>
        
        <p>You can apply at any time. Do not wait until you need treatment.</p>

        <h3 class="heading-medium">You cannot get help with health costs if you or your partner (or both) have more than:</h3>
        
        <ul class="list list-bullet">
          <li>£16,000 in savings, investments or properties (not counting the place where you live); or</li>
          <li>£23,250 in savings, investments or properties if you permanently live in a care home</li>
        </ul>
        

        <h3 class="heading-medium">You may already be entitled to help with health costs if you are:</h3>
            
        <ul class="list list-bullet">
          <li>getting income support</li>
          <li>getting pension credit guarantee credit</li>
          <li>getting universal credit</li> 
          <li>named on, or entitled to, an NHS Tax Credit Exemption certificate</li>
        </ul>
        
        <p>
          <a href="#" id="next">What to do if the above applies to you</a>
        </p>

        <h3 class="heading-medium">You can claim for:</h3>
              
        <ul class="list list-bullet">
          <li>yourself;</li>
          <li>your partner; or</li>
          <li>your children;</li>
        </ul>
        
        <p>
          <a class="button button-get-started" href="ko" id="next">Start a new application</a>
        </p>
        
        <a href="signin-continue">I've used this service before - view my application</a>
         
      </div>
      
    </div>
      
  </div>
  
</main>

{% endblock %}
