{% extends 'templates/nhs_transaction_layout.html' %}

{% block content %}

<main id="content" role="main">
    
  <div class="grid-row">
    
    <div class="column-two-thirds">

      <div class="text">
        
        <h1 class="heading-xlarge">Low Income Scheme</h1>
        
        <h3 class="intro-to-list heading-medium">
          You may be entitled to help towards the cost of:
        </h3>
        
        <ul class="list list-bullet">
          <li>NHS Prescriptions</li>
          <li>NHS Dental treatment</li>
          <li>NHS wigs and fabric supports</li>
          <li>sight tests, glasses and contact lenses</li>
          <li>travel to receive NHS treatment</li>
        </ul>
        
        <h3 class="heading-small">You're not eligible for help if you or your partner (or both) have more than:</h3>
        
        <ul class="list list-bullet">
            <li>£16,000 in savings, investments and properties <br><p class="form-hint">(not including where you live)</p></li>
            <p>or</p>
            <li>£23,250 in savings, investments and properties <br><p class="form-hint">(if you permanently live in a care home)</p></li>
        </ul>
          
          <p><strong>You can apply any time (not just when you need treatment) for:</strong></p>
              
        <ul class="list list-bullet">
          <li>yourself</li>
          <li>your partner or children</li>
        </ul>
          
          <p>
          <a class="button button-get-started" href="ko" id="next">Start a new application</a>
        </p>
        
        <a href="signin">I've used this service before - view my application</a>
          
        
        <div class="panel panel-border-wide" style="margin-top:30px">
        <h3 class="heading-small">You are already eligible for help and don't need to complete this application if you are receiving:</h3>
            
        <ul class="list list-bullet">
          <li>income support</li>
          <li>pension credit guarantee credit</li>
          <li>universal credit</li> 
            <p>or</p>
          <li>named on/entitled to: an NHS Tax Credit Exemption certificate</li>
        </ul>
        <a href="">Sign post to somewhere, they came here thinking they couldn't get it?</a>
          </div>
         
      </div>
      
    </div>
      
  </div>
  
</main>

{% endblock %}
