 {% extends 'templates/nhs_transaction_layout.html' %}
{% import 'includes/form_macros.html' as form_macros %}

{% block afterHeader %}
  {% include "includes/service-headers/low-income.html" %}
{% endblock %}

{% block content %}

<main id="content" role="main">
        
  <div class="grid-row">
    <div class="column-two-thirds">

  <h1 class="heading-large">
      Does your partner receive any of the following?
  </h1>
  <p>Tick all that apply</p>

  <form action="pbenefit-group3-handler" method="get" class="form">
    <div class="form-item-wrapper">
      <div class="form-group">
        <input type="checkbox" id="aa" value="aa" name="bgroup3">
        <label class="form-control-checkbox" for="aa">
          Attendance allowance
        </label>
      </div>
      <div class="form-group">
        <input type="checkbox" id="ba" value="ba" name="bgroup3">
        <label class="form-control-checkbox" for="ba">
          Bereavement allowance
        </label>
      </div>
      <div class="form-group">
        <input type="checkbox" id="ca" value="ca" name="bgroup3">
        <label class="form-control-checkbox" for="ca">
          Carers allowance
        </label>
      </div> 
      <div class="form-group">
        <input type="checkbox" id="ctc" value="ctc" name="bgroup3">
        <label class="form-control-checkbox" for="ctc">
         Child tax credits
        </label>
      </div>
      <div class="form-group">
        <input type="checkbox" id="mp" value="mp" name="bgroup3">
        <label class="form-control-checkbox" for="mp">
         Maintenance payments
        </label>
      </div>
      <div class="form-group">
        <input type="checkbox" id="ma" value="ma" name="bgroup3">
        <label class="form-control-checkbox" for="ma">
         Maternity allowance
        </label>
      </div>
      <div class="form-group">
        <input type="checkbox" id="wpa" value="wpa" name="bgroup3">
        <label class="form-control-checkbox" for="wpa">
          Widowed parents allowance
        </label>
      </div>
      <div class="form-group">
        <input type="checkbox" id="wb" value="wb" name="bgroup3">
        <label class="form-control-checkbox" for="wb">
          Widows benefits
        </label>
      </div>
      <p class="form-block">or</p>
      <div class="form-group">
        <input type="checkbox" id="none" value="none" name="bgroup2">
        <label class="form-control-checkbox" for="none">
          They don't receive any of these
        </label>
      </div>
    </div>
    {{
      form_macros.button({
        label: 'Next'
      })
    }}
    
    <p class="navigation"><a class="cancel" href="../../lis-home">Back to application home</a></p>

  </form>
    </div>
    </div>
</main>

{% endblock %}
