 {% extends 'templates/nhs_transaction_layout.html' %}
{% import 'includes/form_macros.html' as form_macros %}

{% block afterHeader %}
  {% include "includes/service-headers/low-income.html" %}
{% endblock %}

{% block content %}

<main id="content" role="main">
  
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        Which is your prefered method of contact?
      </h1>
        <p class="form-hint">We'll only use this if we need you to clarify or correct your details.</p>
  <form action="" method="get" class="form">
<div class="form-item-wrapper">
    <div class="form-group">
        
      <input type="radio" id="email" name="contact" value="email">
      <label class="form-control-radio minor-radio" for="email">
        vinay.mattu@inter.net
      </label>
    </div>
    <div class="form-group">
      <input type="radio" id="landline" name="contact" value="landline">
      <label class="form-control-radio minor-radio" for="landline">
        0191 123 456
      </label>
    </div>
    <div class="form-group">
      <input type="radio" id="mobile" name="contact" value="mobile">
      <label class="form-control-radio minor-radio" for="mobile">
        07123 456 789
      </label>
        </div>
    </div>
    {{
      form_macros.button({
        href: 'work',
        label: 'Save and continue'
      })
    }}
    <p class="navigation"><a class="cancel" href="../lis-home">Save and come back later</a></p>
  </form>
    </div>
    </div>
</main>

{% endblock %}
