{% extends 'templates/nhs_transaction_layout.html' %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">

    <div class="column-two-thirds">

      <h1 class="heading-xlarge">Get help with health costs</h1>

    </div>

    <div class="column-one-half">

      <ul class="navigation-links">
        <li><a href="">1. Introduction to help with health costs</a></li>
        <li>2. people aged under 16</li>
        <li><a href="">3. people aged 16, 17 or 18</a></li>
        <li><a href="">4. people aged 19</a></li>
        <li><a href="">5. people aged over 60</a></li>
      </ul>

    </div>

    <div class="column-one-half">

      <ul class="navigation-links">
        <li><a href="">6. people who get benefits</a></li>
        <li><a href="">7. people who have a long term medical condition</a></li>
        <li><a href="">8. people who are pregnant or have had a baby in the last twelve months</a></li>
        <li><a href="">9. people who have little money to live on</a></li>
        <li><a href="">10. people who want to save money on regular prescriptions</a></li>
      </ul>
    </div>
  </div>

  <hr>

  <div class="grid-row">

    <div class="column-two-thirds">

      <div class="text">

        <div class="heading-group">
          <h2 class="heading-medium">2. The low income scheme</h2>
        </div>

       <p>You can already claim help with health costs if you have an NHS Tax Credit Exemption Certificate or get any of these benefits:</p>

        <ul class="list list-bullet">
          <li>Income Support</li>
          <li>Pension Credit Guarantee Credit</li>
          <li>Universal Credit</li>
        </ul>

        <p><a href="#">What you need to do if you are already able to get help.</a></p>

        <h2 class="heading-large">If you need to apply for help</h2>

        <p>You could get help with your health costs if, after your housing costs, you, your partner, or you both have less than:</p>

        <ul class="list list-bullet">
          <li>£16,000 in savings, investments or properties – not including where you live</li>
          <li>£23,250 in savings, investments or properties if you permanently live in a care home</li>
        </ul>

        <p>You could get help towards your, your partner’s and your children’s:</p>

        <ul class="list list-bullet">
          <li>NHS dental treatment</li>
          <li>NHS prescriptions</li>
          <li>NHS wigs and fabric supports</li>
          <li>sight tests, glasses and contact lenses</li>
          <li>travel to receive NHS treatment if you were referred by a GP, hospital doctor, dentist or optician</li>
        </ul>

        <p>You can apply at any time. Do not wait until you need treatment.</p>

        <p>
          <a class="button button-get-started" href="partner" id="next">Start a new application</a>
        </p>


      </div>

      <div class="pagination">
        <div class="pag-right">
          <p>
            <a href="#">
              <span class="pag-graphic"></span>
              <span class="pag-title">Next</span>
              <span class="pag-label">help for people aged 16,<br>17 or 18</span>
            </a>
          </p>
        </div>
      </div>

    </div>

  </div>

</main>

{% endblock %}
