{% extends 'templates/nhs_transaction_layout.html' %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">

    <div class="column-two-thirds">

      <h1 class="heading-xlarge">Get help with health costs</h1>

    </div>

    <div class="column-one-half">

      <ul class="navigation-links">
        <li><a href="start">1. Introduction to help with health costs</a></li>
        <li><a href="u16">2. people aged under 16</a></li>
        <li><a href="18">3. people aged 16, 17 or 18</a></li>
        <li><a href="19">4. people aged 19</a></li>
        <li><a href="60">5. people aged over 60</a></li>
      </ul>

    </div>

    <div class="column-one-half">

      <ul class="navigation-links">
        <li><a href="benefits">6. people who get benefits</a></li>
        <li><a href="medex">7. people who have a long term medical condition</a></li>
        <li>8. people who are pregnant or have had a baby in the last twelve months</li>
        <li><a href="lis">9. people who have little money to live on</a></li>
        <li><a href="ppc">10. people who want to save money on regular prescriptions</a></li>
      </ul>
    </div>
  </div>

  <hr>

  <div class="grid-row">

    <div class="column-two-thirds">

      <div class="text">

        <div class="heading-group">
          <h2 class="heading-medium">2. Help for people who are pregnant or have had a baby in the last twelve months</h2>
        </div>

        <p>
          Maternity exemption
Pregnant women and those who have had a baby in the last 12 months get free:
NHS prescriptions - but only if you have a valid maternity exemption certificate
NHS dental treatment if, when you are accepted for a course of treatment, you are pregnant or have had a baby in the previous 12 months.
        </p>


        people who are pregnant or have had a baby in the last twelve months



        <p>You may:</p>
        <ul class="list list-bullet">
          <li>May get help towards the cost of repair or replacement of glasses or contact lenses</li>
          <li>May get help with travel costs for NHS treatment.</li>
                    <li>NHS dental treatment for any course of treatment</li>
          <li>NHS sight tests</li>
          <li>NHS wigs and fabric supports</li>

        </ul>

        <p><a class="button" href="#">Help me work out if I can get help with health costs</a></p>

      </div>

      <div class="pagination">
        <div class="pag-right">
          <p>
            <a href="#">
              <span class="pag-graphic"></span>
              <span class="pag-title">Next</span>
              <span class="pag-label">help for people aged 16,<br>17 or 18</span>
            </a>
          </p>
        </div>
      </div>

    </div>

  </div>

</main>

{% endblock %}
