{% extends 'templates/nhs_transaction_layout.html' %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">

    <div class="column-two-thirds">

      <h1 class="heading-xlarge">Get help with health costs</h1>

    </div>

    <div class="column-one-half">

      <ul class="navigation-links">
        <li><a href="">1. Introduction to help with health costs</a></li>
        <li>2. people aged under 16</li>
        <li><a href="">3. people aged 16, 17 or 18</a></li>
        <li><a href="">4. people aged 19</a></li>
        <li><a href="">5. people aged over 60</a></li>
      </ul>

    </div>

    <div class="column-one-half">

      <ul class="navigation-links">
        <li><a href="">6. people who get benefits</a></li>
        <li><a href="">7. people who have a long term medical condition</a></li>
        <li><a href="">8. people who are pregnant or have had a baby in the last twelve months</a></li>
        <li><a href="">9. people who have little money to live on</a></li>
        <li><a href="">10. people who want to save money on regular prescriptions</a></li>
      </ul>
    </div>
  </div>

  <hr>

  <div class="grid-row">

    <div class="column-two-thirds">

      <div class="text">

        <div class="heading-group">
          <h2 class="heading-medium">2. Help for people with a long term medical condition</h2>
        </div>

        <p>
          People with certain medical conditions may be able to get a medical exemption certificate from their doctor which will give them free NHS prescriptions.
        </p>

        <p>The medical conditions include: </p>
        <ul>
          <li>a permanent fistula (for example, caecostomy, colostomy, laryngos-tomy or ileostomy) which needs continuous surgical dressing or an appliance;
          <li>a form of hypoadrenalism (for example, Addison’s Disease) for which specific substitution therapy is essential;</li>
          <li>diabetes insipidus and other forms of hypopituitarism;</li>
          <li>diabetes mellitus, except where treatment is by diet alone;</li>
          <li>hypoparathyroidism;</li>
          <li>myasthenia gravis;</li>
          <li>myxoedema (that is, hypothyroidism which needs thyroid hormone replacement);</li>
          <li>epilepsy which needs continuous anticonvulsive therapy;</li>
          <li>a continuing physical disability which means you cannot go out without the help of another person; or</li>
          <li>cancer and are undergoing treatment for:</li>

          <li>- cancer;</li>
          <li>- the effects of cancer; or,</li>
          <li>- the effects of cancer treatment.</li>
        </ul>

        <p>If you are not sure about the name of your condition, check with your doctor</p>
 <p>You may:</p>
        <ul class="list list-bullet">
          <li>May get help towards the cost of repair or replacement of glasses or contact lenses</li>
          <li>May get help with travel costs for NHS treatment.</li>
                    <li>NHS dental treatment for any course of treatment</li>
          <li>NHS sight tests</li>
          <li>NHS wigs and fabric supports</li>

        </ul>

        <p><a class="button" href="#">Help me work out if I can get help with health costs</a></p>

      </div>

      <div class="pagination">
        <div class="pag-right">
          <p>
            <a href="#">
              <span class="pag-graphic"></span>
              <span class="pag-title">Next</span>
              <span class="pag-label">help for people aged 16,<br>17 or 18</span>
            </a>
          </p>
        </div>
      </div>

    </div>

  </div>

</main>

{% endblock %}
