{% extends 'templates/nhs_transaction_layout.html' %}

{% block content %}

<main id="content" role="main">
    
  <div class="grid-row">
    
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">Get help with health costs</h1>
    
    </div>
    
    <div class="column-one-half">
      
      <ul class="navigation-links">
        <li><a href="">1. Introduction to help with health costs</a></li>
        <li>2. people aged under 16</li>
        <li><a href="">3. people aged 16, 17 or 18</a></li>
        <li><a href="">4. people aged 19</a></li>
        <li><a href="">5. people aged over 60</a></li>
      </ul>
      
    </div>
      
    <div class="column-one-half">

      <ul class="navigation-links">
        <li><a href="">6. people who get benefits</a></li>
        <li><a href="">7. people who have a long term medical condition</a></li>
        <li><a href="">8. people who are pregnant or have had a baby in the last twelve months</a></li>
        <li><a href="">9. people who have little money to live on</a></li>
        <li><a href="">10. people who want to save money on regular prescriptions</a></li>
      </ul>
    </div>
  </div>
  
  <hr>
  
  <div class="grid-row">

    <div class="column-two-thirds">
    
      <div class="text">
        
        <div class="heading-group">
          <h2 class="heading-medium">2. ppc</h2>
        </div>
        
        <p>If you need more than 12 prescribed medicines each year, you could save money with a 12-month PPC.
You can also buy a three-month PPC, which will save you money if you need more than three prescribed medicines in three months.
The charge for a single prescribed medicine is £8.40, whereas a three-month PPC will cost you £29.10 and a 12-month PPC £104.00.
How much can I save?
</p>
        
        <p><a class="button" href="#">Help me work out if I can get help with health costs</a></p>
        
      </div>
       
      <div class="pagination">
        <div class="pag-right">
          <p>
            <a href="#">
              <span class="pag-graphic"></span>
              <span class="pag-title">Next</span>
              <span class="pag-label">help for people aged 16,<br>17 or 18</span>
            </a>
          </p>
        </div>
      </div>
          
    </div>
    
  </div>
        
</main>

{% endblock %}