{% extends 'templates/bsa_transaction_layout.html' %}

{% block content %} 

    <header role="banner" id="global-header">
      <div class="header-container">

        <a href="{% block logotypeLink %}/{% endblock %}" class="header-logo" title="{% block logotypeTitle %}Go to the NHS.UK homepage{% endblock %}">
          <img src="{{assetPath}}images/nhs-rev-logotype.svg" alt="">
        </a>

        <h1 class="heading-large ex-header">HC2 Certificate for full help with health costs</h1>

        {% block header-controls %}{% endblock %}

      </div>
    </header>

    <!--end header-->

<main id="content" role="main">
<div class="grid-row">
    <h2 class="heading-xlarge">Bill Smith</h2>
  <div class="column-two-thirds">

  <h2 class="heading-medium">Your entitlement</h2>
  <ul class="cert-des">
    <li class="medium strong ex-type">Prescriptions</li>
    <li>You are entitled to <strong>free</strong> NHS prescriptions</li>
  </ul>
  <hr>
    <ul class="cert-des">
    <li class="medium strong ex-type">Dental treatment</li>
    <li>You are entitled to <strong>free</strong> NHS dental treatment</li>
  </ul>
  <hr>
  <ul class="cert-des">
    <li class="medium strong ex-type">Sight tests</li>
    <li>You are entitled to <strong>free</strong> NHS sight tests</li>
  </ul>
  <hr>
  <ul class="cert-des">
    <li class="medium strong ex-type">Glasses or contact lenses</li>
    <li>You are entitled to the <strong>full value of a voucher</strong> towards the cost of glasses and contact lenses</li> 
  </ul>
  <hr>
  <ul class="cert-des">
    <li class="medium strong ex-type">Travel to receive NHS treatment</li>
    <li>You are entitled to a <strong>refund</strong> of necessary costs of travel to receive NHS treatment</li>
  </ul>
  <hr>
  <ul class="cert-des">
    <li class="medium strong ex-type">NHS wigs and fabric supports</li>
    <li>You are titled to <strong>free</strong> NHS wig and fabric supports</li>
  </ul>
  </div>
      <div class="column-third">
      <div class="detail-block">
      <h3 class="heading-medium">Your details</h3>
      <p>Certificate number: <strong>123 456 789</strong></p>
      <p>Valid from: <strong>01 June 2016</strong></p>
      <p>Valid until: <strong>31 May 2017</strong></p>
      </div>
      </div>
  </div>  
</main>

