{% extends 'templates/nhs_transaction_layout.html' %}

{% block pageTitle %}NHS.UK prototyping kit{% endblock %}

{% block content %}

<main id="content" role="main">
      <a class="back-link" href="/sprint1">Back to sprint 1</a>
      
  
  <div class="grid-row">
    <div class="column-two-thirds">
    
    <h1 class="heading-xlarge">Low Income Scheme<br>Sprint 2 - Bill persona</h1>

      <p>
        
      </p>

    </div>
    
    <div class="column-third">
      <p><img src="/public/images/persona-images/Bill.jpg"></</p>
    </div>
    
  </div>

      
  
  
</main>

{% endblock %}