{% extends 'templates/nhs_transaction_layout.html' %}

{% block pageTitle %}NHS.UK prototyping kit{% endblock %}

{% block content %}

<main id="content" role="main">
      <a class="back-link" href="/sprint3">Back to sprint 3</a>
      
  
  <div class="grid-row">
    <div class="column-two-thirds">
            <h1 class="heading-xlarge">Low Income Scheme<br>Sprint 2 - Mr &amp; Mrs Mattu persona</h1>

      <p>
        Vinay needs new glasses and he is worried about the cost. A friend suggested he apply for some help. He has had some problems with his false teeth for two years and if he gets any help, he might go to get them fixed.
      </p>
      
      <p>
        Vinay is 67 years old and receives a state pension, attendance allowance and pension credit (savings credit).
      </p>
      
      <p>
        Priya is 64 years old and receives her state pension and disability living allowance.
      </p>
      
      <p>
        They have some money in a bank account and some premium bonds.
      </p>
      
      <p>
        They live in their own home and pay council tax. They have no one else living with them.
      </p>

    </div>
    
    <div class="column-third">
      <p><img src="/public/images/persona-images/mattus.jpg"></</p>
    </div>
    
  </div>

      
</main>

{% endblock %}