{% extends 'templates/nhs_transaction_layout.html' %}

{% block pageTitle %}NHS.UK prototyping kit{% endblock %}

{% block content %}

<main id="content" role="main">
      <a class="back-link" href="/sprint2">Back to sprint 2</a>
      
  
  <div class="grid-row">
    <div class="column-two-thirds">
            <h1 class="heading-xlarge">Low Income Scheme<br>Sprint 2 - Miriam persona</h1>

      <p>
        My name is Miriam and I am 62 years old. I live in a small house with my son Thomas who is 30 and works as a building site labourer.
      </p>
  
      <p>
        I live on an occupational pension from my job and my state pension.
      </p>

      <p>
        My husband Bob died 5 years ago and his life insurance covered 80% of our mortgage leaving me £175 to pay each month, which I 
can manage. I rely on my small amount of savings for unexpected costs which lately there have been quite a few of.
      </p>

      <p>
        I am about to have some serious dental treatment and a friend recommended the schemeto me.
      </p>

    </div>
    
    <div class="column-third">
      <p><img src="/public/images/persona-images/miriam.jpg"></</p>
    </div>
    
  </div>

      
  
  
</main>

{% endblock %}