{% extends 'templates/nhs_transaction_layout.html' %}

{% block afterHeader %}
  {% include "includes/service-headers/low-income.html" %}
{% endblock %}

{% block content %}

<main id="content" role="main">
    
  <div class="grid-row">
   
    <div class="column-two-thirds">

      <div class="text">
        
        <h1 class="heading-xlarge">You can get full help with health costs</h1>

        <p class="lede">This means you will receive:</p>

        <lu>
          <li>free NHS prescriptions</li>
          <li>free NHS dental treatment</li>
          <li>free NHS sight tests</li>
          <li>free NHS wigs and fabric supports</li>
          <li>the full value of a voucher towards the cost of glasses and contact lenses</li>
          <li>refund of necessary travel costs to receive NHS treatment</li>
        </lu>

        <p>You will need to give your reference number if you need to purchase any of these.</p>
        
        <p>A copy of this information has been emailed to jane.doe@inter.net</p>
        
        <p><a href="#">Print this page</a></p>
        
        <p><a href="#">Text me my reference number</a></p>
        
        <p>
          You can access this information at any time from the 
          <a href="#">low income scheme homepage</a>
        </p>

        <p>We will send you a renew reminder around 01 May 2016.</p>
      
      </div>
    
    </div>
  </div>
  
</main>

{% endblock %}





