{% extends 'templates/nhs_transaction_layout.html' %}
{% import 'includes/form_macros.html' as form_macros %}

{% block afterHeader %}
  {% include "includes/service-headers/low-income.html" %}
{% endblock %}

{% block content %}

<main id="content" role="main">
        
  <div class="grid-row">
    <div class="column-two-thirds">

  <h1 class="heading-large">
      Where do you live?
  </h1>

  <form action="" method="get" class="form">

    <div class="form-item-wrapper">
      <div class="form-group">
        <input type="radio" id="own" name="home">
        <label class="form-control-radio" for="own">
          In a property I own (including mortgaged)
        </label>
      </div>
      <div class="form-group">
        <input type="radio" id="rented" name="home">
        <label class="form-control-radio" for="rented">
          In rented accommodation
        </label>
      </div>
      <div class="form-group">
        <input type="radio" id="else" name="home">
        <label class="form-control-radio" for="else">
          In someone else's home (for example friends, relatives, parents)
        </label>
      </div>
      <div class="form-group">
        <input type="radio" id="homeless" name="home">
        <label class="form-control-radio" for="homeless">
          I am homeless
        </label>
      </div>
    </div>  
        
    {{
      form_macros.button({
        href: 'joint',
        label: 'Next'
      })
    }}
    
    <p class="navigation"><a class="cancel" href="../lis-home">Cancel - back to my low income scheme home</a></p>

  </form>
    </div>
    </div>
</main>

{% endblock %}