 {% extends 'templates/nhs_transaction_layout.html' %}
{% import 'includes/form_macros.html' as form_macros %}

{% block afterHeader %}
  {% include "includes/service-headers/low-income.html" %}
{% endblock %}

{% block content %}

<main id="content" role="main">
        
  <div class="grid-row">
    <div class="column-two-thirds">

  <h1 class="heading-large">
      Do you pay for any of the following where you live?
  </h1>
      
      <p>Tick all that apply</p>

  <form action="" method="get" class="form">
    <div class="form-item-wrapper">
      <div class="form-group">
        <input type="checkbox" id="cbsa" name="bgroup1">
        <label class="form-control-checkbox" for="cbsa">
          Maintenance, management or cleaning of communal areas, gardens or grounds
        </label>
      </div>
      <div class="form-group">
        <input type="checkbox" id="cbj" name="bgroup1">
        <label class="form-control-checkbox" for="cbj">
          The provision of laundry premises or equiptment
        </label>
      </div>
      <div class="form-group">
        <input type="checkbox" id="sa" name="bgroup1">
        <label class="form-control-checkbox" for="sa">
          Children's play areas
        </label>
      </div>
      <div class="form-group">
        <input type="checkbox" id="jsa" name="bgroup1">
        <label class="form-control-checkbox" for="jsa">
          A warden in sheltered accomodation
        </label>
      </div>
      <div class="form-group">
        <input type="checkbox" id="jsa" name="bgroup1">
        <label class="form-control-checkbox" for="jsa">
          A communal television service
        </label>
      </div>
      <p class="form-block">or</p>
      <div class="form-group">
        <input type="checkbox" id="none" name="bgroup1">
        <label class="form-control-checkbox" for="none">
          These things are not included
        </label>
      </div>
    {{
      form_macros.button({
        href: 'council-tax',
        label: 'Next'
      })  
    }}
          </div>

  </form>
    </div>
    </div>
</main>

{% endblock %}