 {% extends 'templates/nhs_transaction_layout.html' %}
{% import 'includes/form_macros.html' as form_macros %}

{% block afterHeader %}
  {% include "includes/service-headers/low-income.html" %}
{% endblock %}

{% block content %}

<main id="content" role="main">
  
  <div class="grid-row">
    <div class="column-two-thirds">

  <h1 class="heading-large">
    About your mortgage or secured loan
  </h1>
  
  <h2 class="heading-medium">How often do you pay your mortgage or secured loan?</h2>
  
  <form action="" method="get" class="form">

    <div class="form-item-wrapper">
      <div class="form-group">
        <input type="radio" id="week" name="minor">
        <label class="form-control-radio" for="week">
          Every week
        </label>
      </div>
      <div class="form-group">
        <input type="radio" id="fortnight" name="minor">
        <label class="form-control-radio" for="fortnight">
          Every two weeks
        </label>
      </div>
      <div class="form-group">
        <input type="radio" id="fourweekly" name="minor">
        <label class="form-control-radio" for="fourweekly">
          Every four weeks
        </label>
      </div>
      <div class="form-group">
        <input type="radio" id="month" name="minor">
        <label class="form-control-radio" for="month">
         Every month
        </label>
      </div>
      <div class="form-group">
        <input type="radio" id="year" name="minor">
        <label class="form-control-radio" for="year">
          Annually
        </label>
      </div>
      
    {{
      form_macros.amount_field({
        id: 'money-name',
      label: 'How much do you pay? <span class="form-hint">Include any endowment premiums linked to the mortgage.<br>Dont include premiums for any other type of insurance, any arrears, or any amount of mortgage that you are voluntarily overpaying</span>'
      })
    }}
      
    </div>  
        
    {{
      form_macros.button({
        href: '../services',
        label: 'Save and continue'
      })
    }}
    <p class="navigation"><a class="cancel" href="../../lis-home">Save and come back later</a></p>
  </form>
    </div>
    </div>
</main>

{% endblock %}
