{% extends 'templates/nhs_transaction_layout.html' %}
{% import 'includes/form_macros.html' as form_macros %}

{% block afterHeader %}
  {% include "includes/service-headers/low-income.html" %}
{% endblock %}

{% block content %}

<main id="content" role="main">
    
  <div class="grid-row">
    
    <div class="column-two-thirds">

      <h1 class="heading-large">
         Protect your details
      </h1>
      <p>We will send you an access code to your mobile phone or landline every time you access this service.</p>

      <form action="telephone-number-handler" method="get" class="form">
        <div class="form-item-wrapper">
          <fieldset>
            <div class="form-group">
              <label class="form-label-bold" for="telephone-number">
                Telephone number
                <span class="form-hint">This should be a phone you have access to when signing in</span>
              </label>
              <input type="text" id="telephone-number" class="form-control" name="telephone">
            </div>
          </fieldset>
        </div>

        {{
          form_macros.button({
            label: 'Next'
          })
        }}

    </form>
    
    <p class="navigation"><a class="cancel" href="../lis-home">I do not have access to a telephone</a></p>

    </div>
    </div>
</main>

{% endblock %}