{% extends 'templates/nhs_transaction_layout.html' %}
{% import 'includes/form_macros.html' as form_macros %}

{% block afterHeader %}
  {% include "includes/service-headers/low-income.html" %}
{% endblock %}

{% block content %}

<main id="content" role="main">
    
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        Make a note of your application number
      </h1>
      
      <p>You'll need this if you come back later.</p>

      <div class="panel panel-border-wide claim-ref">
        <h1 class="heading-xlarge">1Q3 4T6 7K9</h1> 
      </div>
      
      <form action="email-address-handler" method="get" class="form">

        <details>

          <summary><span class="summary">Email this number to me</span></summary>

          <div class="panel panel-border-narrow">
            <p>Enter your email address below if you would like your application number emailed to you.</p>

            <div class="form-item-wrapper">
              <fieldset>
                <div class="form-group">
                  <label class="form-label-bold" for="email">
                    Email address (optional)
                  </label>
                  <input type="text" id="email"  name="email" class="form-control">
                </div>
              </fieldset>
            </div>
          </div>

        </details>
        
        <p><a href="">Print this page</a></p>

        {{
          form_macros.button({
            label: 'Next'
          })
        }}

      </form>
    
    </div>
    
  </div>
  
</main>

{% endblock %}