{% extends 'templates/nhs_transaction_layout.html' %}

{% block afterHeader %}
  {% include "includes/service-headers/low-income.html" %}
{% endblock %}

{% block content %}

<main id="content" role="main">
    
  <div class="grid-row">
    
    <div class="column-two-thirds">

      <div class="text">
                  
        <h1 class="heading-large">Complete the following sections</h1>
        <br>
        <table class="data-table">
          <tr class='clickable-row' data-href='you/registration'>
            <td>About you</td>
            <td><span id="about_you_status" class="notstarted-text">{{aboutYouStatus}}</span> 
            <a href="you/registration">{{aboutYouLink}}</a></td>
          </tr>
          <tr class='clickable-row' data-href='partner/partner'>
            <td>Partner status</td>
            <td><span id="about_partner_status" class="notstarted-text">{{aboutPartnerStatus}}</span> 
            <a href="partner/partner">{{aboutPartnerLink}}</a></td>
          </tr>
          <tr class='clickable-row' data-href='assets/property'>
            <td>Property, savings &amp; money</td>
            <td><span id="property_status" class="notstarted-text">{{propertyStatus}}</span> 
            <a href="assets/property">{{propertyLink}}</a></td>
          </tr>
          <tr class='clickable-row' data-href='live/hospital'>
            <td>About where you live</td>
            <td><span id="where_you_live_status" class="notstarted-text">{{whereYouLiveStatus}}</span> 
            <a href="live/hospital">{{whereYouLiveLink}}</a></td>
          </tr>
        </table>
        
        <div class="panel panel-border-wide">
          <p>
            You can submit your application here once you have completed all of the sections above.
          </p>
        </div>
  
      </div>
      
    </div>
    
  </div>
  
</main>

{% endblock %}
