{% extends 'templates/nhs_transaction_layout.html' %}

{% block content %}

<main id="content" role="main">
    
  <div class="grid-row">
    
    <div class="column-two-thirds">

      <div class="text">
        
        <div class="heading-group">
          <h1 class="heading-xlarge">Apply for help with health costs</h1>
          <h2 class="heading-large">The low income scheme</h2>
        </div>
        
        <p>You could get help towards:
          
        <ul class="list list-bullet">
          <li>NHS Prescriptions;</li>
          <li>NHS Dental treatment;</li>
          <li>sight tests, glasses and contact lenses;</li>
          <li>NHS wigs and fabric supports;</li>
          <li>travel to receive NHS treatment (when referred by a GP or hospital doctor, dentist or optician)</li>
        </ul>

        <p>If you have a low amount of money to live on after your housing costs and you or your partner (or both) have less than:</p>
        
        <ul class="list list-bullet">
          <li>£16,000 in savings, investments or properties (not counting the place where you live); or</li>
          <li>£23,250 in savings, investments or properties if you permanently live in a care home</li>
        </ul>
        
        <p>You can apply at any time. Don't wait until you need treatment.</p>

        <hr>
        <p>
          <a class="button button-get-started" href="ko" id="next">Start a new application</a>
        </p>
        <a href="signin-continue">I've used this service before - view my application</a>
        <hr>
        
        <h3 class="heading-medium">You may already be entitled to help with health costs if you receive any of the following:</h3>
            
        <ul class="list list-bullet">
          <li>income support;</li>
          <li>pension credit guarantee credit;</li>
          <li>universal credit; or</li> 
          <li>you are named on, or entitled to, an NHS Tax Credit exemption certificate</li>
        </ul>
        
        <p>
          <a href="" id="next">What to do if one of the above applies to you</a>
        </p>
        
        <h2 class="heading-medium">You can claim for:</h2>
              
        <ul class="list list-bullet">
          <li>yourself;</li>
          <li>your partner; or</li>
          <li>your children</li>
        </ul>
                 
      </div>
      
    </div>
      
  </div>
  
</main>

{% endblock %}