{% extends 'templates/nhs_transaction_layout.html' %}

{% block content %}

<main id="content" role="main">
    
  <div class="grid-row">
    
    <div class="column-two-thirds">

      <div class="text">
        
        <h1 class="heading-xlarge">Low Income Scheme</h1>
        
        <h3 class="intro-to-list heading-medium">
          Find out if you can get help towards the cost of:
        </h3>
        
        <ul class="list list-bullet">
          <li>prescriptions</li>
          <li>sight tests</li>
          <li>glasses and contact lenses</li>
          <li>NHS Dental treatment</li>
          <li>NHS treatment travel costs</li>
          <li>NHS wigs and fabric supports</li>
        </ul>
        
        <p>You can apply any time (not just when you need treatment) for:</p>
              
        <ul class="list list-bullet">
          <li>yourself</li>
          <li>your partner or children</li>
        </ul>
          
          <p style="margin-top:40px">
          <a class="button button-get-started" href="ko" id="next">Start a new application</a>
        </p>
        
        <a href="signin">I've used this service before - view my application</a>
          
              <h3 class="heading-medium" style="margin-top:40px">Before you start</h3>

        <h3 class="heading-small">You're not eligible for help if you or your partner (or both) have more than:</h3>
        
        <ul class="list list-bullet">
            <li>£16,000 in savings, investments and properties <br><p class="form-hint">(not including where you live)</p></li>
            <p>or</p>
            <li>£23,250 in savings, investments and properties <br><p class="form-hint">(if you permanently live in a care home)</p></li>
        </ul>
          
          <hr>
        
        <h3 class="heading-small">You're already entitled to help (and do not need to complete this application) if you recieve:</h3>
            
        <ul class="list list-bullet">
          <li>income support</li>
          <li>pension credit guarantee credit</li>
          <li>universal credit</li> 
            <p>or</p>
          <li>if you are named on or entitled to an NHS Tax Credit Exemption certificate</li>
        </ul>
        
      </div>
      
    </div>
      
  </div>
  
</main>

{% endblock %}
