{% extends 'templates/bsa_transaction_layout.html' %}

{% block content %} 

<main id="content" role="main">
  
  <div class="exemption-header">
    <h2 class="heading-large"><span class="certcode">HC3</span> Certificate for limited help with health costs</h2>
  </div>
  
    <h2 class="heading-xlarge">Bill Smith</h2>
    <p>Certificate number: <strong>123 456 789</strong></p>
    <p>Valid from: <strong>01 June 2016</strong></p>
    <p>Valid until: <strong>31 May 2017</strong></p>

  <h2 class="heading-medium">Your entitlement</h2>
  <div class="ex-div">
  <ul class="cert-des">
    <li class="medium strong ex-type">Prescriptions</li>
    <li>You are <strong>not</strong> entitled to free NHS prescriptions</li>
  </ul>
  <hr>
  <ul class="cert-des">
    <li class="medium strong ex-type">Sight tests</li>
    <li>You pay a maximum of:</li>
    <li class="cost">£5</li>
  </ul>
  <hr>
  <ul class="cert-des">
    <li class="medium strong ex-type">Glasses or contact lenses</li>
    <li>Towards an optical voucher, you pay: </li>
    <li class="cost">£10</li> 
  </ul>
  <hr>
  <ul class="cert-des">
    <li class="medium strong ex-type">Travel to receive NHS treatment</li>
    <li>In any one week, you pay: </li>
    <li class="cost">£5</li> 
  </ul>
  <hr>
  <ul class="cert-des">
    <li class="medium strong ex-type">NHS dental treatment, wigs, or fabric supports</li>
    <li>Per course of treatment or prescribed item, you pay a maximum of:</li>
    <li class="cost">£15</li> 
  </ul>
  </div>
</main>

