{% extends 'templates/bsa_transaction_layout.html' %}

{% block content %} 

<main id="content" role="main">
  
  <div class="exemption-header">
    <h2 class="heading-large"><span class="certcode">HC3</span> Certificate for limited help with health costs</h2>
  </div>
  
    <h2 class="heading-xlarge">Bill Smith</h2>
    <p>Certificate number: <strong>123 456 789</strong></p>
    <p>Valid from: <strong>01 June 2016</strong></p>
    <p>Valid until: <strong>31 May 2017</strong></p>

  <h2 class="heading-medium">Your entitlement</h2>

  <ul class="cert-description">
    <li class="medium strong">Prescriptions</li>
    <li>You are <strong>not</strong> entitled to free NHS prescriptions</li>
  </ul>
  <ul class="cert-description">
    <li class="medium strong">Sight tests</li>
    <li>you pay a maximum of:</li>
    <li class="cost">£5</li>
  </ul>
  <ul class="cert-description">
    <li class="medium strong">Glasses or contact lenses</li>
    <li>you pay: </li>
    <li class="cost">£10</li> 
    <li>
      towards an optical voucher
    </li>
  </ul>
  <ul class="cert-description">
    <li class="medium strong">Travel to receive NHS treatment</li>
    <li>you pay: </li>
    <li class="cost">£5</li> 
    <li>in any one week</li>
  </ul>
  <ul class="cert-description">
    <li class="medium strong">NHS dental treatment, wigs, or fabric supports</li>
    <li>you pay a maximum of:</li>
    <li class="cost">£15</li> 
    <li>per course of treatment or prescribed item</li>
  </ul> 
</main>

