{% extends 'templates/nhs_transaction_layout.html' %}

{% block afterHeader %}
  {% include "includes/service-headers/low-income.html" %}
{% endblock %}

{% block content %}

<main id="content" role="main">
    
  <div class="grid-row">
   
    <div class="column-two-thirds">

      <div class="text">
        
        <h1 class="heading-xlarge">You can get some help with heath costs</h1>
        
        <h3 class="heading-medium">
          Your certificate number is:  123 456 789
        </h3>
    
        <p class="lede">
          This is valid until 01 June 2016
        </p>
    
        <p>This means you do not pay for:</p>

        <lu>
          <li>Prescriptions</li>
          <li>Dental treatment</li>
          <li>Glasses or contact lenses up to £x</li>
          <li>Travel to hospital appointments</li>
          <li>Wigs and fabric supports</li>
        </lu>


        <p>You can <a href="#">print this page</a> as evidence.</p>
        <p>A copy has been emailed to jane.doe@inter.net</p>
        <p>You can get a copy at any time from <a href="#">here</a></p>


        <h2 class="heading-large">Claim a refund</h2>
        <p>If you have had to pay for any of the above in the last x months you can claim a refund.</p>
        <p><a href="no-help">Claim a refund</a></p>
      
      </div>
    
    </div>
  
  </div>
  
</main>

{% endblock %}
