{% extends 'templates/nhs_transaction_layout.html' %}

{% block content %}

<main id="content" role="main">
    
  <div class="grid-row">
    
    <div class="column-two-thirds">

      <div class="text">
            <h1 class="heading-xlarge">Low Income Scheme</h1>
        <p class="lede">
          About this service.
        </p>

        <p>
          To use this service you’ll need to know:
        </p>

        <ul class="list-bullet">
          <li>
            One
          </li>
          <li>
            Two
          </li>
          <li>
            Three
          </li>
        </ul>

        <p>If you wish to claim a refund you will need to ...</p>
        
        <p>
          <a class="button button-get-started" href="registration/registration">Start</a>
        </p>
        
      </div>
      
    </div>
    
  </div>
  
</main>

{% endblock %}
