{% extends 'templates/bsa_transaction_layout.html' %}

{% block content %} 

    <header role="banner" id="global-header">
      <div class="header-container">

        <a href="{% block logotypeLink %}/{% endblock %}" class="header-logo" title="{% block logotypeTitle %}Go to the NHS.UK homepage{% endblock %}">
          <img src="{{assetPath}}images/nhs-rev-logotype.svg" alt="">
        </a>

        <h1 class="heading-large ex-header">HC3 Certificate for help with health costs</h1>

        {% block header-controls %}{% endblock %}

      </div>
    </header>

    <!--end header-->

<main id="content" role="main">
  <div class="email-ex">
    <div class="email-text">
      <p>
      <h2 class="heading-medium">Priya and Vinay Mattu</h2>
        <strong>Certificate number:</strong> 123 456 789<br>

        <strong>Valid from:</strong> 01 June 2016<br>

        <strong>Valid until:</strong> 31 May 2017</p> 
        <p>
        You pay a maximum of <strong>£107.16</strong> towards NHS dental treatment<br><br>
        You pay a maximum of <strong>£35.72</strong> towards NHS sight tests<br><br>
        You pay <strong>£71.44</strong> towards an optical voucher for glasses and contact lenses<br><br>
        You pay a maximum of <strong>£35.72</strong> in any one week, towards the costs of travel to receive NHS treatment<br><br>
        You pay a maximum of <strong>£107.16</strong> towards NHS wig and fabric supports
      </p>
    </div>
  </div>
</main>

