 {% extends 'templates/nhs_transaction_layout.html' %}
{% import 'includes/form_macros.html' as form_macros %}

{% block afterHeader %}
  {% include "includes/service-headers/low-income.html" %}
{% endblock %}

{% block content %}

<main id="content" role="main">
    
  <div class="grid-row">
    <div class="column-two-thirds">

  <div class="text">

    <h1 class="heading-large">
      Check your details
    </h1>

    <table class="data-table">
      <!--
      <tr>
        <td>Dependant children</td>
        <td>Yes</td>
        <td><a href="#">Change this</a></td>
      </tr>
      <tr>
        <td>First child</td>
        <td>John Doe</td>
        <td><a href="#">Change this</a></td>
      </tr>
      <tr>
        <td>Date of birth</td>
        <td>24 March 2016</td>
        <td><a href="#">Change this</a></td>
      </tr>
      -->
      <tr>
        <td>Do you have a job</td>
        <td>{{myWork}}</td>
        <td><a href="#">Change this</a></td>
      </tr>
      <tr>
        <td>Are you in full time education?</td>
        <td>No</td>
        <td><a href="#">Change this</a></td>
      </tr>
      <tr>
        <td>Do you receive a pension?</td>
        <td>Yes</td>
        <td><a href="#">Change this</a></td>
      </tr>
      <tr>
        <td>Which of the following pensions do you receive?</td>
        <td>State pension<br>Private pension</td>
        <td><a href="#">Change this</a></td>
      </tr>
      <tr>
        <td>How much do you receive for your state pension?</td>
        <td>£123</td>
        <td><a href="#">Change this</a></td>
      </tr>
      <tr>
        <td>Do you receive pension credit?</td>
        <td>No</td>
        <td><a href="#">Change this</a></td>
      </tr>
      <tr>
      <td>How often do you receive your private pension payments?</td>
        <td>Weekly</td>
        <td><a href="#">Change this</a></td>
      </tr>
      <tr>
        <td>How much do you receive?</td>
        <td>£123</td>
        <td><a href="#">Change this</a></td>
      </tr>
      <tr>
        <td>Do you receive any social security benefits?</td>
        <td>No</td>
        <td><a href="#">Change this</a></td>
      </tr>
      <tr>
        <td>Do you receive any other money?</td>
        <td>No</td>
        <td><a href="#">Change this</a></td>
      </tr>

    </table>
    
    <p>
      <a class="button" href="../lis-home">Save - continue to my low income scheme home</a>
    </p>

  </div>
  </div>
  </div>
  
</main>

{% endblock %}
