{% extends 'templates/nhs_transaction_layout.html' %}

{% block pageTitle %}NHS.UK prototyping kit{% endblock %}

{% block content %}

<main id="content" role="main">
      <h1 class="heading-xlarge">Low Income Scheme prototype</h1>
      <p>
        If you have a comment or suggestion for this prototype?
        <a href="mailto:mark.dobson@nhs.net?Subject=LIS%20Prototype" target="_top">Email us</a>
      </p>

      <h2 class="heading-large">Alpha sprint 3</h2>
      <p>Created 9 June 2016</p>
      <a href="/sprint3">View</a>
      <hr>
      <h2 class="heading-large">Alpha sprint 2</h2>
      <p>Created end May 2016</p>
      <a href="/sprint2">View</a>
      <hr>
      <h2 class="heading-large">Alpha sprint 1</h2>
      <p>Created mid May 2016</p>
      <a href="/sprint1">View</a>
      <hr>
      <h2 class="heading-large">Sprint 0</h2>
      <p>Created end March 2016</p>
      <a href="/lis/0/index">View</a>

</main>

{% endblock %}