{% extends 'templates/nhs_transaction_layout.html' %}

{% block pageTitle %}NHS.UK prototyping kit{% endblock %}

{% block content %}

<main id="content" role="main">
  
  <div class="grid-row">
   
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">Low Income Scheme prototype</h1>

      <h2 class="heading-large">Alpha sprint 1</h2>
      <p>Created May 2016</p>
      <ul>
        <li><a href="/lis/1/index">Start page</a></li>
        <li><a href="/lis/1/lis-home">My lis home page</a></li>
        <li><a href="/lis/1/lis-home-updated">My lis home page updated</a></li>
      </ul>
      <h2 class="heading-large">Sprint 0</h2>
      <p>Created end March 2016</p>
      <ul>
        <li><a href="/lis/0/index">Start page</a></li>
        <li><a href="/lis/0/lis-home">My lis home page</a></li>
      </ul>

    </div>
    
  </div>
  
</main>

{% endblock %}