{% extends 'templates/nhs_transaction_layout.html' %}

{% block pageTitle %}NHS.UK prototyping kit{% endblock %}

{% block content %}

<main id="content" role="main">
      <h1 class="heading-xlarge">Low Income Scheme prototype</h1>
  <p>Please note this is a work in progress it may not represent functionality available in the final version.<br>
  These prototypes may not render correctly in any browser other than Google Chrome.</p>
      <p>
        If you have any comments or suggestions for this prototype you can email: <span style="font-weight: bold">mark.dobson1@nhs.net</span>
      </p>
      <ul>
        <li class="heading-medium">Current sprint - Alpha sprint 3 </li>
        <li>(Mr &amp; Mrs Mattu persona) - Created 9 June 2016</li>
        <li><a href="/sprint3">View</a></li>
      </ul>
      <hr>
      <ul>
        <li class="heading-medium">Alpha sprint 2 </li>
        <li>(Miriam persona) - Created end May 2016</li>
        <li><a href="/sprint2">View</a></li>
      </ul>
      <hr>
      <ul>
        <li class="heading-medium">Alpha sprint 1</li>
        <li>(Bill persona) - Created mid May 2016</li>
        <li><a href="/sprint1">View</a></li>
      </ul>
      <hr>
      <ul>
        <li class="heading-medium">Sprint 0</li>
        <li>Created end March 2016</li>
        <li><a href="/lis/0/index">View</a></li>
      </ul>
</main>

{% endblock %}