{% extends 'templates/nhs_transaction_layout.html' %}

{% block pageTitle %}NHS.UK prototyping kit{% endblock %}

{% block content %}

<main id="content" role="main">
      <a href="index"> < Back </a>
      <h1 class="heading-xlarge">Low Income Scheme prototype</h1>
      
      <!--p>Have some feedback let us know! If you have a comment or suggestion for this prototype please email: <>mark.dobson@nhs.net</p-->

      <h2 class="heading-large">Alpha sprint 1</h2>
      <p>Created mid May 2016</p>
      <ul>
        <li><a href="/lis/1/index">Start page</a></li>
        <li><a href="/lis/1/lis-home">My lis home page</a></li>
        <li><a href="/lis/1/lis-home-updated">My lis home page updated</a></li>
        <li><a href="/lis/1/full-help">Full help outcome</a></li>
      </ul>
      <ul>
        <li><span class="strong">What we tested: </span> </li>
        <li>Full end to end journey for a pensioner who has a state and a private pension, rents their home and pays council tax. </li>
        <li>This pensioner has full entitlement and there are no others in household, no benefits.</li>
      </ul>
      <ul>
        <li><span class="strong">What we found: </span></li> 
        <li>Overall, users found this easy to use.</li> 
        <li>Biggest issues were around:</li> 
        <li>1) known issues below</li>
        <li>2) didn’t feel like they had finished at the end,</li>
        <li>3) language, 
        <li>4) benefit questions</li> 
        <li>Users want clearer info around what part of their rent they need to tell us about, if they get help towards it.</li>
        <li>They need clearer feedback that the application has been submitted and what the next steps are. </li>
        <li>Users who are low on the digital inclusion scale could use this, but require the correct language to understand it.</li>
      </ul>
      <ul>
        <li><span class="strong">Known issues: </span></li>
        <li>No error messages in the prototype.</li>
        <li>No feedback when sections are done.</li>
        <li>Uses dummy data on summary screens.</li>
        <li>Users don't understand benefits and use different names for them. </li>
        <li>We need to understand how often people pay for things like rent and be more explicit about monthly, four weekly vs calendar month.</li>
      </ul>
</main>

{% endblock %}