{% extends 'templates/nhs_transaction_layout.html' %}

{% block pageTitle %}NHS.UK prototyping kit{% endblock %}

{% block content %}

<main id="content" role="main">
  <a class="back-link" href="index">Back </a>
  <h1 class="heading-xlarge">Low Income Scheme prototype</h1>

  <h2 class="heading-large">Alpha sprint 6</h2>
  <p>Created 28 June 2016</p>
  <ul>
    <li><a href="/lis/6/index">Start page</a></li>
    <li><a href="/lis/6/lis-home">My lis home page</a></li>
    <li><a href="/lis/6/live/others/people">Does anyone else live in your home?</a></li>
    <li><a href="/lis/6/part-help">Part help outcome</a></li>
    <li><a href="/lis/6/full-help">Full help outcome</a></li>
    <li><a href="/lis/6/signin-continue">Returning after leaving</a></li>
    <li><a href="/lis/6/signin">Returning after completing</a></li>
  </ul>
    <p>Summary pages:</p>
    <ul>
    <li><a href="/lis/6/you/about-you-summary">About you</a></li>
    <li><a href="/lis/6/partner/summary">Partner status</a></li>
    <li><a href="/lis/6/assets/assets-summary">Property, savings and money</a></li>
    <li><a href="/lis/6/live/living-summary">About where you live</a></li>
    </ul>

    <p>Outcome:</p>
    <ul>
     <li><a href="/lis/6/part-help">Part help</a></li>
    <li><a href="/lis/6/full-help">Full help</a></li>
    </ul>
    
    <p>Other:</p>
    <ul>
     <li><a href="/lis/6/live/others/people">Does anyone else live in your home?</a></li>
        <li><a href="/lis/6/start-v1">Start page experiment</a></li>
    
    </ul>

  <h2 class="heading-large">Exemption prototypes</h2>
  <ul>
    <li><a href="/lis/6/exemption/hc3-entitlement">HC3 entitlement management page</a></li>  
    <li><a href="/lis/6/exemption/hc2-entitlement">HC2 entitlement management page</a></li>  
    <li><a href="/lis/6/exemption/hc3-breakdown">HC3 breakdown page</a></li>  
    <!--li><a href="/lis/6/exemption/certificate">Exemption management page</a></li-->  
    <!--li><a href="/lis/6/exemption/hc2certificate">HC2 certificate</a></li-->  
    <!--li><a href="/lis/6/exemption/hc3certificate">HC3 certificate</a></li-->
    <!--li><a href="/lis/6/exemption/email">Email certificate</a></li-->
  </ul>
  
  <ul>
    <li><span class="strong">What we're improving this sprint:</span> </li>
  </ul>

  <ul>
    <li><span class="strong">What we plan to test:</span> </li>
  </ul>

  <ul>
    <li><span class="strong">What we found:</span> </li>
  </ul>

</main>

{% endblock %}