{% extends 'templates/nhs_transaction_layout.html' %}

{% block pageTitle %}NHS.UK prototyping kit{% endblock %}

{% block content %}

<main id="content" role="main">
  <a class="back-link" href="index">Back </a>
  <h1 class="heading-xlarge">Low Income Scheme prototype</h1>

  <h2 class="heading-large">Alpha sprint 7</h2>
  <p>Created 8 August 2016<br>
  Pensioner MVP</p>
  
  <ul>
    <li><a href="/lis/7/index">Start page</a></li>
    <li><a href="/lis/7/lis-home">My lis home page</a></li>
    <li><a href="/lis/7/live/others/people">Does anyone else live in your home?</a></li>
    <li><a href="/lis/7/part-help">Part help outcome</a></li>
    <li><a href="/lis/7/full-help">Full help outcome</a></li>
    <li><a href="/lis/7/signin-continue">Returning after leaving</a></li>
    <li><a href="/lis/7/signin">Returning after completing</a></li>
    <!--li><a href="/lis/7/register/user-id">Save and restore version A</a></li-->
  </ul>
  
  <br>
  
  <h3><span class="strong">Exemption prototypes:</span> </h3>
      
  <ul class="list">
    <li><a href="/lis/7/exemption/hc3-entitlement">HC3 entitlement management page</a></li>  
    <li><a href="/lis/7/exemption/hc2-entitlement">HC2 entitlement management page</a></li>  
    <li><a href="/lis/7/exemption/hc3-breakdown">HC3 breakdown page</a></li>  
  </ul>
  
  <br>
  
  <h3><span class="strong">Summary pages:</span> </h3>

  <ul class="list">
    <li><a href="/lis/7/you/about-you-summary">About you</a></li>
    <li><a href="/lis/7/partner/summary">Partner status</a></li>
    <li><a href="/lis/7/assets/assets-summary">Property, savings and money</a></li>
    <li><a href="/lis/7/live/living-summary">About where you live</a></li>
  </ul>
  
  <br>
  
  <h3><span class="strong">What we plan to test: </span> </h3>

  <ul class="list list-bullet">
    <li>We're improving the exemption journey and planning to break it up so that each part delivers a specific user need. Rather than trying to meet all of the needs on one screen (we think this is confusing). Each page should have a clear purpose like 'get a copy of my exemption'.</li>

    <li><a href="/lis/7/end/tabs/view-entitlement-accordian">HC3 Entitlement management page- tabs</a></li>
        <li><a href="">HC3 Entitlement management page- steps</a></li>
    </ul>

  <br>
  
  <h3><span class="strong">What we've changed: </span> </h3>

  <ul class="list list-bullet">
    <li>Refined the entitlement pages.</li>
    <li>Refined the journey for application number &amp; memorable word.</li>
    <li>Declaration added to the hub page.</li>
  </ul>

  <br>
  
  <h3><span class="strong">What we found: </span> </h3>
  
  <ul class="list list-bullet">
      <li>Testing September 2016</li>
  </ul>

  
</main>

{% endblock %}
