{% extends 'templates/nhs_transaction_layout.html' %}

{% block pageTitle %}NHS.UK prototyping kit{% endblock %}

{% block content %}

<main id="content" role="main">
      <a class="back-link" href="index">Back to all prototypes</a>
      
      <h1 class="heading-xlarge">Low Income Scheme prototype</h1>
      
      <!--p>Have some feedback let us know! If you have a comment or suggestion for this prototype please email: <>mark.dobson@nhs.net</p-->

      <h2 class="heading-large">Alpha sprint 2</h2>
     
      <p>Created end May 2016
      <br>Pensioner MVP</p>
            
      <ul>
        <li><a href="/lis/2/index">Start page</a></li>
        <li><a href="/lis/2/lis-home">My lis home page</a></li>
        <li><a href="/lis/2/lis-home-updated">My lis home page updated</a></li>
        <li><a href="/lis/2/part-help">Part help outcome</a></li>
      </ul>

  <br>
      <h3><span class="strong">What we plan to test: </span> </h3>
      
      <ul class="list list-bullet">
        <li>Full end to end journey for <a href="/lis/personas/miriam-persona">Miriam persona</a></li>
        <li>Miriam has part entitlement (HC3)</li>
      </ul>
  
      <br>
  
      <h3><span class="strong">What we changed: </span> </h3>
     
      <ul class="list list-bullet">
        <li>Users can choose between <a href="lis/2/you/pension/pension-type">state and private pension</a>.</li>
        <li>Added a '£' to each field that requires a value in pounds.</li>
        <li>Updated the <a href="lis/2/full-help">end screen</a> because users didn't feel they were 'done'.</li>
        <li>Added a tick on the <a href="lis/2/lis-home4">hub screen</a> when a section is complete.</li>
        <li>Added <a href="lis/2/assets/accounts">savings accounts</a> and amended the text so that the options are hopefully clearer.</li>
        <li>Users can now <a href="lis/2/live/others/people">tell us that someone who lives in your home</a> and their circumstances.</li>
        <li>Users can now select <a href="lis/2/live/home">in a home I own</a> and added the questions based on this choice.</li>
        <li>Added a <a href="lis/2/part-help">partial help screen</a></li>
        <li>Added text to the <a href="lis/2/live/rent">rent amount screen</a> to explain the amount a user should enter.</li>
      </ul>

</main>

{% endblock %}