{% extends 'templates/nhs_transaction_layout.html' %}

{% block pageTitle %}NHS.UK prototyping kit{% endblock %}

{% block content %}

<main id="content" role="main">
      <a class="back-link" href="index">Back </a>
      
      <h1 class="heading-xlarge">Low Income Scheme prototype</h1>
      
      <!--p>Have some feedback let us know! If you have a comment or suggestion for this prototype please email: <>mark.dobson@nhs.net</p-->

      <h2 class="heading-large">Alpha sprint 2</h2>
     
      <p>Created end May 2016</p>
      
      <ul>
        <li><a href="/lis/2/index">Start page</a></li>
        <li><a href="/lis/2/lis-home">My lis home page</a></li>
        <li><a href="/lis/2/lis-home-updated">My lis home page updated</a></li>
        <li><a href="/lis/2/part-help">Part help outcome</a></li>
      </ul>
  
      <br>
  
      <h3><span class="strong">What we plan to test: </span> </h3>
      
      <ul class="list list-bullet">
        <li>Full end to end journey for Miriam persona</li>
        <li>Miriam has a private pension</li>
        <li>Lives in her own home and pays council tax. </li>
        <li>Has a non-dependant son living in the household</li>
        <li>No benefits.</li>
        <li>Miriam has some entitlement</li>
      </ul>
  
      <br>
  
      <h3><span class="strong">What we changed: </span> </h3>
     
      <ul class="list list-bullet">
        <li>Updated the <a href="lis/2/full-help">end screen</a> because users didn't feel they were 'done'.</li>
        <li>Added visual feedback on the <a href="lis/2/lis-home4">hub screen</a> to show a section was complete.</li>
        <li>Added <a href="lis/2/assets/accounts">savings accounts</a> and amended the text so that the <a href="lis/2/assets/money">savings options</a> were hopefully clearer.</li>
        <li>Added ability to <a href="lis/2/live/others/people">tell us that someone else lives in your home</a> and their circumstances.</li>
        <li>Enabled the prototype to allow the user to select <a href="lis/2/live/home">in a home I own</a> and tailored the questions based on this choice.</li>
        <li>Enabled the prototype to handle a users' choice of <a href="lis/2/you/pension/pension-type">pensions</a> and only ask the relevant question based on their choice.</li>
        <li>Added a <a href="lis/2/part-help">partial help screen</a></li>
        <li>Added text to the <a href="lis/2/live/rent">rent amount screen</a> to explain the amount a user should enter.</li>
      </ul>

</main>

{% endblock %}