{% extends 'templates/nhs_transaction_layout.html' %}

{% block pageTitle %}NHS.UK prototyping kit{% endblock %}

{% block content %}

<main id="content" role="main">
  <a class="back-link" href="index">Back </a>
  <h1 class="heading-xlarge">Low Income Scheme prototype</h1>

  <h2 class="heading-large">Alpha sprint 5</h2>
  
  <p>Created 28 June 2016<br>
  Pensioner MVP</p>
  
  <ul>
    <li><a href="/lis/5/index">Start page</a></li>
    <li><a href="/lis/5/lis-home">My lis home page</a></li>
    <li><a href="/lis/5/part-help">Part help outcome</a></li>
    <li><a href="/lis/5/live/others/people">Does anyone else live in your home?</a></li>
    <li><a href="/lis/5/register/user-id">Save and restore version A</a></li>
  </ul>

  <br>
  
  <h3><span class="strong">Exemption prototypes</span> </h3>
      
  <ul class="list">
    <li><a href="/lis/5/exemption/certificate">Exemption management page</a></li>  
    <li><a href="/../public/images/breakdown.pdf">Breakdown (pdf)</a></li>
    <!--<li><a href="/lis/5/exemption/hc2certificate">HC2 certificate</a></li>--> 
    <!--<li><a href="/lis/5/exemption/hc3certificate">HC3 certificate</a></li>-->
    <!--<li><a href="/lis/5/exemption/email">Email certificate</a></li>-->
  </ul>
  
  <br>
  
  <h3><span class="strong">What we plan to test: </span> </h3>

  <ul class="list list-bullet">
    <li>Updated exemption pages and journey.</li>
    <li>Users understanding of the breakdown.</li>
  </ul>
  
  <br>
  
  <h3><span class="strong">What we changed: </span> </h3>

  <ul class="list list-bullet">
    <li>Added journey for users in a care home</li>
    <li>Better exemption page where users print, download, amend, etc</li>
    <li>Edited the journey for people living at home who are in education.</li>
    <li>Improved what you will need to apply page.</li>
    <li>Improved save and continue / memorable word / application number pages.</li>
    <li>Pension credit added as a kickout.</li>
    <li>When users tell us they have a partner, the text of some questions now updates to reflect this.</li>
    <li>Improved questions about service charges.</li>
    <li>Split the exemption page up so that the user now gets a done screen before seing their exemption.</li>
  </ul>

  <br>
  
  <h3><span class="strong">What we found: </span> </h3>

  <ul class="list list-bullet">
    <li>Users don't understand 2 step verification</li>
  </ul>

</main>

{% endblock %}