{% extends 'templates/nhs_transaction_layout.html' %}

{% block pageTitle %}NHS.UK prototyping kit{% endblock %}

{% block content %}

<main id="content" role="main">
  <a class="back-link" href="index">Back </a>
  <h1 class="heading-xlarge">Low Income Scheme prototype</h1>

  <h2 class="heading-large">Alpha sprint 5</h2>
  <p>Created 28 June 2016</p>
  <ul>
    <li><a href="/lis/5/index">Start page</a></li>
    <li><a href="/lis/5/lis-home">My lis home page</a></li>
    <li><a href="/lis/5/part-help">Part help outcome</a></li>
    <li><a href="/lis/5/live/others/people">Does anyone else live in your home?</a></li>
    <li><a href="/lis/5/register/user-id">Save and restore version A</a></li>
  </ul>

  <h2 class="heading-large">Exemption prototypes</h2>
  <ul>
    <li><a href="/lis/5/exemption/hc2certificate">HC2 Certificate</a></li>  
    <li><a href="/lis/5/exemption/hc3certificate">HC3 Certificate</a></li>
    <li><a href="/lis/5/exemption/email">Email Certificate</a></li>
  </ul>

  <ul>
    <li><span class="strong">What we plan to test:</span> </li>
  </ul>

  <ul>
    <li><span class="strong">What we're improving this sprint:</span> </li>
  </ul>

  <ul>
    <li><span class="strong">What we found:</span> </li>
  </ul>

</main>

{% endblock %}