{% extends 'templates/nhs_transaction_layout.html' %}

{% block pageTitle %}NHS.UK prototyping kit{% endblock %}

{% block content %}

<style>
    .persona-link{
        line-height: 2em;
    }</style>

<main id="content" role="main">
  <a class="back-link" href="index">Back </a>
  <h1 class="heading-xlarge">Help with health costs<br>The Low Income Scheme prototype</h1>

  <h2 class="heading-large">Alpha sprint 8</h2>
  <p>October 2016<br>
  Pensioner MVP</p>

  <ul class="list list-bullet">
    <li><a href="/lis/8/index">Start page</a></li>
    <li><a href="/lis/8/lis-home">Hub page (after eligibility questions)</a></li>
    <li><a href="/lis/8/signin-continue">Returning after leaving</a></li>
    <li><a href="/lis/8/signin">Returning after completing</a></li>
    <!--li><a href="/lis/8/register/user-id">Save and restore version A</a></li-->
  </ul>

  <br>
  
  <h3><span class="strong">Done pages: </span> </h3>

  <ul class="list list-bullet">
    <li><a href="/lis/8/end/tabs/view-entitlement-accordian">Dome page HC3 - tabs</a></li>
       <li><a href="/lis/7/end/tabs/side-panel/test">Dome page HC3 - side nav</a></li>
        <li><a href="/lis/7/end/steps/what-you-told-us">Done page HC3 - steps</a></li>
    </ul>

</main>

{% endblock %}
