{% extends 'templates/nhs_transaction_layout.html' %}

{% block pageTitle %}NHS.UK prototyping kit{% endblock %}

{% block content %}

<style>
    .persona-link{
        line-height: 2em;
    }</style>

<main id="content" role="main">
  <a class="back-link" href="index">Back </a>
  <h1 class="heading-xlarge">Low Income Scheme prototype</h1>

  <h2 class="heading-large">Alpha sprint 7</h2>
  <p>Created 8 August 2016<br>
  Pensioner MVP</p>
  
  <ul>
    <li><a href="/lis/7/index">Start page</a></li>
    <li><a href="/lis/7/lis-home">My lis home page</a></li>
    <li><a href="/lis/7/live/others/people">Does anyone else live in your home?</a></li>
    <li><a href="/lis/7/part-help">Part help outcome</a></li>
    <li><a href="/lis/7/full-help">Full help outcome</a></li>
    <li><a href="/lis/7/signin-continue">Returning after leaving</a></li>
    <li><a href="/lis/7/signin">Returning after completing</a></li>
    <!--li><a href="/lis/7/register/user-id">Save and restore version A</a></li-->
  </ul>
  
  <br>
  
  <h3><span class="strong">Exemption prototypes:</span> </h3>
      
  <ul class="list">
    <li><a href="/lis/7/exemption/hc3-entitlement">HC3 entitlement management page</a></li>  
    <li><a href="/lis/7/exemption/hc2-entitlement">HC2 entitlement management page</a></li>  
    <li><a href="/lis/7/exemption/hc3-breakdown">HC3 breakdown page</a></li>  
  </ul>
  
  <br>
  
  <h3><span class="strong">Summary pages:</span> </h3>

  <ul class="list">
    <li><a href="/lis/7/you/about-you-summary">About you</a></li>
    <li><a href="/lis/7/partner/summary">Partner status</a></li>
    <li><a href="/lis/7/assets/assets-summary">Property, savings and money</a></li>
    <li><a href="/lis/7/live/living-summary">About where you live</a></li>
  </ul>
  
  <br>
  
  <h3><span class="strong">What we plan to test: </span> </h3>

  <ul class="list list-bullet">
    <li>We're improving the exemption journey and planning to break it up so that each part delivers a specific user need. Rather than trying to meet all of the needs on one screen (we think this is confusing). Each page should have a clear purpose like 'get a copy of my exemption'.</li>

    <li><a href="/lis/7/end/tabs/view-entitlement-accordian">HC3 Entitlement management page- tabs</a></li>
       <li><a href="/lis/7/end/tabs/view-entitlement-accordian">HC3 Entitlement management page- tabbed with numbers</a></li>
        <li><a href="/lis/7/end/steps/what-you-told-us">HC3 Entitlement management page- steps</a></li>
    </ul>

      <ul class="list list-bullet">
    <li>We're improving wording relating to emotive areas to be more inclusive.</li>

    <li><a href="/lis/7/live/others/relationship-v2">Relationship to you- 'My son or daughter' changed to the gender neutral 'My child'</a></li>
        <li><a href="/lis/7/live/home-v2">'I am homeless' changed to 'No fixed or permanent address'</a></li>
    </ul>

  <br>
  
  <h3><span class="strong">What we've changed: </span> </h3>

  <ul class="list list-bullet">

        <li>Refined the entitlement pages.</li>
        <li>Refined the journey for application number &amp; memorable word.</li>
        <li>Refined personas to include digital and financial behaviours including Digital Inclusion scale markings and future oppertunity spaces to explore.</li>
    <div class="panel-indent">
        <a class="persona-link" href="/public/images/persona-images/bill.pdf">Bill</a><br>
        <a class="persona-link" href="/public/images/persona-images/Mr_mrs_mattu.pdf">Mr and Mrs Mattu</a><br>
        <a class="persona-link" href="/public/images/persona-images/miriam.pdf">Miriam</a>
    </div>

  </ul>

  <br>
  
  <h3><span class="strong">What we found: </span> </h3>
  
  <ul class="list list-bullet">
      <li>Testing September 2016</li>

  </ul>

  
</main>

{% endblock %}
