{% extends 'templates/nhs_transaction_layout.html' %}

{% block pageTitle %}NHS.UK prototyping kit{% endblock %}

{% block content %}

<main id="content" role="main">
  <a class="back-link" href="index">Back </a>
  <h1 class="heading-xlarge">Low Income Scheme prototype</h1>

  <h2 class="heading-large">Alpha sprint 6</h2>
  <p>Created 28 June 2016<br>
  Pensioner MVP</p>
  
  <ul>
    <li><a href="/lis/6/index">Start page</a></li>
    <li><a href="/lis/6/lis-home">My lis home page</a></li>
    <li><a href="/lis/6/live/others/people">Does anyone else live in your home?</a></li>
    <!--<li><a href="/lis/6/start-v1">Start page experiment</a></li>-->
    <li><a href="/lis/6/signin-continue">Returning after leaving</a></li>
    <li><a href="/lis/6/signin">Returning after completing</a></li>
  </ul>

  <br>
  
  <h3><span class="strong">Outcomes: </span> </h3>
  
  <ul class="list">
    <li><a href="/lis/6/part-help">Part help</a></li>
    <li><a href="/lis/6/full-help">Full help</a></li>
  </ul>
    
  <br>
  
  <h3><span class="strong">Exemption prototypes: </span> </h3>

  <ul class="list">
    <li><a href="/lis/6/exemption/hc3-entitlement">HC3 entitlement management page</a></li>  
    <li><a href="/lis/6/exemption/hc2-entitlement">HC2 entitlement management page</a></li>  
    <li><a href="/lis/6/exemption/hc3-breakdown">HC3 breakdown page</a></li>  
  </ul>
  
  <br>
  
  <h3><span class="strong">What we plan to test: </span> </h3>

  <ul class="list list-bullet">
    <li>We're testing with users who have an email address and have basic digital skills to use the online service.</li>
    <li>We're asking users to print a copy of the HC3 entitlement and bring it with them.</li>
  </ul>

  <br>
  
  <h3><span class="strong">What we've changed: </span> </h3>

  <ul class="list list-bullet">
    <li>Refined the entitlement pages.</li>
    <li>Improved what you will need to apply page.</li>
    <li>Improved save and continue / memorable word / application number pages.</li>
    <li>Improved contact preference questions.</li>
    <li>Refined the journey for application number &amp; memorable word.</li>
    <li>Added journey for users to get a copy by email or in the post.</li>
    <li>Shows a list of the people you have told us about.</li>
  </ul>

  <br>
  
  <h3><span class="strong">What we found: </span> </h3>
  
  <ul class="list list-bullet">
      <li>Some users didn't realise didn't they needed to go to their entitlement <a href="/lis/6/part-help">here</a>.</li>
      <li>Users were able to get through the service.</a></li>
      <li>Users with ISA's would like to see the term used so they know where to enter the information.</a></li>
      <li>Users are confused about benefits, pension credit can be a stumbling point.</a></li>
  </ul>

</main>

{% endblock %}