{% extends 'templates/nhs_transaction_layout.html' %}

{% block pageTitle %}NHS.UK prototyping kit{% endblock %}

{% block content %}

<main id="content" role="main">
      <a class="back-link" href="index">Back </a>
      <h1 class="heading-xlarge">Low Income Scheme prototype</h1>
      
      <!--p>Have some feedback let us know! If you have a comment or suggestion for this prototype please email: <>mark.dobson@nhs.net</p-->

      <h2 class="heading-large">Alpha sprint 4</h2>
      <p>Created 28 June 2016</p>
      <ul>
        <li><a href="/lis/4/index">Start page</a></li>
        <li><a href="/lis/4/lis-home">My lis home page</a></li>
        <li><a href="/lis/4/part-help">Part help outcome</a></li>
        <li><a href="/lis/4/live/others/people">Does anyone else live in your home?</a></li>
      </ul>

      <h2 class="heading-large">Exemption prototypes</h2>
      <ul>
        <li><a href="/lis/exemption/hc2certificate">HC2 Certificate</a></li>  
        <li><a href="/lis/exemption/hc3certificate">HC3 Certificate</a></li>
        <li><a href="/lis/exemption/email">Email Certificate</a></li>
      </ul>
      
      <ul>
        <li><span class="strong">What we plan to test:</span> </li>
        <li>Full end to end journey for a single person or couple.</li>
        <li>They may receive benefits.</li>
        <li>They may live in their own home or rent.</li>
        <li>We will test savings, children living at home, a friend living at home.</li>
      </ul>

      <ul>
        <li><span class="strong">What we're improving this sprint:</span> </li>
        <li>Questions have been improved about others in the home.</li>
      </ul>
  
      <ul>
        <li><span class="strong">What we found:</span> </li>
        <li>(Results posted soon)</li>
      </ul>
  
</main>

{% endblock %}