{% extends 'templates/nhs_transaction_layout.html' %}

{% block pageTitle %}NHS.UK prototyping kit{% endblock %}

{% block content %}

<main id="content" role="main">
      <a class="back-link" href="index">Back </a>
      <h1 class="heading-xlarge">Low Income Scheme prototype</h1>
      
      <!--p>Have some feedback let us know! If you have a comment or suggestion for this prototype please email: <>mark.dobson@nhs.net</p-->

      <h2 class="heading-large">Alpha sprint 4</h2>
      <p>Created 28 June 2016<br>
      Pensioner MVP</p>
  
      <ul>
        <li><a href="/lis/4/index">Start page</a></li>
        <li><a href="/lis/4/lis-home">My lis home page</a></li>
        <li><a href="/lis/4/part-help">Part help outcome</a></li>
        <li><a href="/lis/4/live/others/people">Does anyone else live in your home?</a></li>
        <li><a href="/lis/4/register/user-id">Save and restore version A</a></li>
      </ul>

      <br>
  
      <h3><span class="strong">Exemption prototypes</span> </h3>
      
      <ul class="list">
        <li><a href="/lis/4/exemption/hc2certificate">HC2 Certificate</a></li>  
        <li><a href="/lis/4/exemption/hc3certificate">HC3 Certificate</a></li>
        <li><a href="/lis/4/exemption/email">Email Certificate</a></li>
      </ul>

      <br>
  
      <h3><span class="strong">What we plan to test:</span> </h3>
      
      <ul class="list list-bullet">
        <li>Full end to end journey for a single person or couple.</li>
        <li>They may receive benefits.</li>
        <li>They may live in their own home or rent.</li>
        <li>We will test savings, children living at home, a friend living at home.</li>
      </ul>

      <br>
  
      <h3><span class="strong">What we changed:</span> </h3>
      
      <ul class="list list-bullet">
        <li>Improved journey for others in the home.</li>
        <li>Improved the exemption screens.</li>
        <li>Improved the what you need to apply screen.</li>
        <li>Improved save and continue / sign in screens.</li>
        <li>Improved feedback on the hub screen where a section is started / not started / complete.</li>
        <li>Added 2 step verification.</li>
        <li>User can now tell us about other properties.</li>
      </ul>

      <br>
  
      <h3><span class="strong">What we found:</span> </h3>
      
      <ul class="list list-bullet">
        <li>Users we tested with (low digital skills) found the sign in confusing. They seemed to be more inclined to use a memorable word.</li>
        <li>They were overwhelmed by the <a href="/lis/4/save-continue/ref">sign in pages</a>, there is too much being asked for at once.</li>
        <li>The page that tells users <a href="/lis/4/need-to-know">what they will need to apply</a> is not direct enough. One of our users was confused by the title Low Income Scheme, <span class="quote">'I'm not on the l low income scheme'</span> - she thought it was a type of benefit. Many of the users don't know what the low income scheme is.</li>
        <li>Users tried to select the whole row on the <a href="/lis/4/lis-home">LIS home screen</a>.</li>
      </ul>
  
</main>

{% endblock %}